#pelis1 {
        color: rgb(0, 50, 210);
        font-family: Century;
        font-style: 18px;
        text-align: center;
}

#pelis2 {
        color: rgb(0, 50, 210);
        font-family: Century;
        font-size: 15px;
        text-align: center;
}

#pelis3 {
        color: rgb(0, 50, 210);
        font-family: Century;
        font-size: 15px;
        text-align: center;
}

#pelis4 {
        color: rgb(0, 50, 210);
        font-family: Century;
        font-size: 15px;
        text-align: center;
}