#norte {
        color: rgb(0, 50, 210);
        font-family: Century;
        font-size: 18px;
        text-align: center;
}

#centro {
    	color: rgb(0, 50, 210);
    	font-family: Century;
    	font-size: 18px;
    	text-align: center;
}

#sur {
    	color: rgb(0, 50, 210);
    	font-family: Century;
    	font-size: 18px;
    	text-align: center;
}

#europa {
    	color: rgb(0, 50, 210);
    	font-family: Century;
    	font-size: 18px;
    	text-align: center;
}

#africa {
    	color: rgb(0, 50, 210);
    	font-family: Century;
    	font-size: 18px;
    	text-align: center;
}

#asia {
    	color: rgb(0, 50, 210);
    	font-family: Century;
    	font-size: 18px;
    	text-align: center;
}

#oceania {
    	color: rgb(0, 50, 210);
    	font-family: Century;
    	font-size: 18px;
    	text-align: center;
}